<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2 th:text="${title}">Registration Form</h2>

    <form th:action="@{/register}" th:object="${registerModel}" method="post" class="form-horizontal">

        <!-- First Name -->
        <div class="form-group row">
            <label class="control-label col-sm-2">First Name:</label>
            <div class="col-sm-6">
                <input type="text" th:field="*{firstName}" class="form-control"/>
                <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="text-danger"></p>
            </div>
        </div>

        <!-- Last Name -->
        <div class="form-group row">
            <label class="control-label col-sm-2">Last Name:</label>
            <div class="col-sm-6">
                <input type="text" th:field="*{lastName}" class="form-control"/>
                <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="text-danger"></p>
            </div>
        </div>

        <!-- Email -->
        <div class="form-group row">
            <label class="control-label col-sm-2">Email:</label>
            <div class="col-sm-6">
                <input type="email" th:field="*{email}" class="form-control"/>
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></p>
            </div>
        </div>

        <!-- Phone -->
        <div class="form-group row">
            <label class="control-label col-sm-2">Phone:</label>
            <div class="col-sm-6">
                <input type="text" th:field="*{phone}" class="form-control"/>
                <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="text-danger"></p>
            </div>
        </div>

        <!-- Username -->
        <div class="form-group row">
            <label class="control-label col-sm-2">Username:</label>
            <div class="col-sm-6">
                <input type="text" th:field="*{username}" class="form-control"/>
                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></p>
            </div>
        </div>

        <!-- Password -->
        <div class="form-group row">
            <label class="control-label col-sm-2">Password:</label>
            <div class="col-sm-6">
                <input type="password" th:field="*{password}" class="form-control"/>
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></p>
            </div>
        </div>

        <!-- Submit -->
        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-6">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>